In [5]:
import pandas as pd 
import os

In [6]:
# carga de datos en csv

data = pd.read_csv('Ordenes_producto_C1_M2.csv', sep = ';', encoding = 'latin-1')
data.head()

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,107500PO59A,A,PO59,VE5389,07/04/2018 18:12,271.86,30.72,52435,Mallama,Nariño,Productos ecoamigables,6,7,27,2486,17,11,14
1,37493PS22B,B,PS22,VE1558,20/10/2017 09:07,115.73,4.68,52203,Colon,Nariño,Carnicería,10,31,20,256,43,2,21
2,28050PK20B,B,PK20,VE9159,17/08/2017 08:15,432.99,82.70,66001,Pereira,Risaralda,Deportes,25,5,4,5270,9,27,29
3,52187PA10A,A,PA10,VE3159,23/09/2017 23:27,108.38,35.39,52435,Mallama,Nariño,Electrodomésticos,10,1,6,734,46,48,22
4,84639PR12A,A,PR12,VE5090,07/01/2018 11:50,51.50,11.10,73001,Ibague,Tolima,Frutas y verduras,23,16,35,884,45,26,18

In [7]:
# Revisamos el tipo de cada una de las variables 
data.dtypes

orden_id                          object
order_item_id                     object
producto_id                       object
vendedor_id                       object
fecha_envio_limite                object
precio                           float64
valor_flete                      float64
codigo_postal_vendedor             int64
ciudad_vendedor                   object
departamento_vendedor             object
nombre_categoria_producto         object
longitud_nombre_producto           int64
longitud_descripcion_producto      int64
cantidad_fotos_producto            int64
peso_g_producto                    int64
longitud_cm_producto               int64
altura_cm_producto                 int64
ancho_cm_producto                  int64
dtype: object

## Tablas de frecuencia 

Para la solución del caso de uso es necesario identificar una posible hipótesis para validar a través de las herramientas que se revisarán en las siguientes líneas.

La tabla de frecuencia es una herramienta que permite ordenar los datos que se presentan numéricamente las características de la distribución de un conjunto de datos o muestra. 

**Hipótesis:** la categoría de celulares es la que más productos vende, se quiere validar ya que se desea lanzar una campaña de descuento para traer más clientes a la empresa, sin embargo, se debe conocer cuál va a ser la categoría en la cual se invertirá más publicidad.

In [8]:
data.columns

Index(['orden_id', 'order_item_id', 'producto_id', 'vendedor_id',
       'fecha_envio_limite', 'precio', 'valor_flete', 'codigo_postal_vendedor',
       'ciudad_vendedor', 'departamento_vendedor', 'nombre_categoria_producto',
       'longitud_nombre_producto', 'longitud_descripcion_producto',
       'cantidad_fotos_producto', 'peso_g_producto', 'longitud_cm_producto',
       'altura_cm_producto', 'ancho_cm_producto'],
      dtype='object')

In [18]:
## Tabla de frecuencia univariada 
# Se va a realizar una tabla para analizar las categorías que se venden en el comercio. 
# Frecuencia absoluta

frec_data = data['nombre_categoria_producto'].value_counts().reset_index()
frec_data.head()

               index  nombre_categoria_producto
0         Tecnología                        543
1           Deportes                        537
2  Frutas y verduras                        532
3         Carnicería                        523
4    Ropa de adultos                        521

In [19]:
# Frecuencia relativa 
frec_data['porcentaje_nombre_categoria_producto'] = frec_data['nombre_categoria_producto'].apply(lambda x: x/frec_data['nombre_categoria_producto'].sum())
frec_data.head(5)

,index,nombre_categoria_producto,porcentaje_nombre_categoria_producto
0,Tecnología,543,0.053582
1,Deportes,537,0.052990
2,Frutas y verduras,532,0.052497
3,Carnicería,523,0.051608
4,Ropa de adultos,521,0.051411

In [20]:
# Tabla de frecuencia absoluta y relativa acumulada con comsum()
## Frecuencia absoluta acumulada 
frec_data['acumulada_nombre_categoria_producto']=frec_data['nombre_categoria_producto'].cumsum()

## Frecuencia relativa acumulada 
frec_data['acumulada_porcentaje_nombre_categoria_producto']=frec_data['porcentaje_nombre_categoria_producto'].cumsum()
frec_data.head()

,index,nombre_categoria_producto,porcentaje_nombre_categoria_producto,acumulada_nombre_categoria_producto,acumulada_porcentaje_nombre_categoria_producto
0,Tecnología,543,0.053582,543,0.053582
1,Deportes,537,0.052990,1080,0.106572
2,Frutas y verduras,532,0.052497,1612,0.159068
3,Carnicería,523,0.051608,2135,0.210677
4,Ropa de adultos,521,0.051411,2656,0.262088

In [21]:
frec_data

,index,nombre_categoria_producto,porcentaje_nombre_categoria_producto,acumulada_nombre_categoria_producto,acumulada_porcentaje_nombre_categoria_producto
0,Tecnología,543,0.053582,543,0.053582
1,Deportes,537,0.052990,1080,0.106572
2,Frutas y verduras,532,0.052497,1612,0.159068
3,Carnicería,523,0.051608,2135,0.210677
4,Ropa de adultos,521,0.051411,2656,0.262088
5,Ferretería,519,0.051214,3175,0.313302
6,Juguetes,519,0.051214,3694,0.364515
7,Ropa infantil,512,0.050523,4206,0.415038
8,Electrodomésticos,510,0.050326,4716,0.465364
9,Dormitorio,509,0.050227,5225,0.515591
10,Productos ecoamigables,501,0.049438,5726,0.565029
11,Lácteos,501,0.049438,6227,0.614466
12,Libros,499,0.049240,6726,0.663706
13,Tarjetas regalo,497,0.049043,7223,0.712749
14,Mascotas,496,0.048944,7719,0.761693
15,Salud,491,0.048451,8210,0.810144
16,Celulares,488,0.048155,8698,0.858299
17,Muebles,486,0.047957,9184,0.906256
18,Licor,475,0.046872,9659,0.953128
19,Bebés,475,0.046872,10134,1.000000

*Análisis**: La tabla de frecuencias nos muestra la siguiente información:
1. Frecuencia absoluta: número de veces que aparece un valor.
2. Frecuencia relativa: el resultado de dividir la frecuencia absoluta de un determinado valor por el número total de datos. 
3. Frecuencia acumulada: la suma de las frecuencias absolutas de todos los valores iguales o menores al valor considerado.
4. Frecuencia acumulada relativa: el resultado de dividir la frecuencia acumulada por el número de toda la información.

In [22]:
## Tablas de frecuencia bivariada
# Tabla que muestra la frecuencia por ciudad de venta y categoría del producto
pd.crosstab(index=data['nombre_categoria_producto'], columns=data['ciudad_vendedor'])

ciudad_vendedor,Abejorral,Abrego,Abriaqui,Acacias,Acandi,Acevedo,Achi,Agua de dios,Arauca,Arboleda,...,San andres,San jose del guaviare,San juan de arama,San juanito,Santa marta,Sincelejo,Tunja,Valledupar,Villavicencio,Yopal
nombre_categoria_producto,,,,,,,,,,,,,,,,,,,,,
Bebés,9,23,1,20,0,0,9,4,3,6,...,2,6,8,18,1,12,1,5,23,10
Carnicería,8,16,1,15,0,0,5,7,10,7,...,1,6,13,13,1,10,4,4,24,5
Celulares,7,19,0,17,0,1,11,9,4,9,...,3,3,11,12,0,8,2,5,17,16
Deportes,10,19,0,24,1,0,4,3,5,5,...,3,6,7,11,0,21,3,2,33,7
Dormitorio,8,9,2,19,0,0,9,3,11,9,...,2,6,9,10,1,17,2,2,31,7
Electrodomésticos,5,27,1,17,1,0,5,6,3,4,...,2,1,6,8,2,16,5,3,18,7
Ferretería,5,14,0,18,0,0,6,7,9,6,...,3,2,18,11,1,15,6,4,15,12
Frutas y verduras,6,20,0,16,2,0,6,5,8,12,...,2,7,15,16,2,14,2,1,24,15
Juguetes,9,18,0,19,2,0,11,3,6,11,...,6,1,15,11,3,17,4,3,30,12
Libros,7,18,1,20,2,0,9,9,5,8,...,1,1,15,11,2,10,4,3,22,13
Licor,6,16,0,14,0,1,10,4,9,2,...,1,6,9,18,1,19,3,6,22,10
Lácteos,6,12,1,19,0,3,10,8,7,6,...,1,5,12,11,1,14,4,4,11,16
Mascotas,9,12,0,13,1,0,7,7,4,7,...,4,7,15,14,2,11,1,8,19,17
Muebles,3,19,1,19,0,2,5,3,1,11,...,1,3,10,7,0,16,1,1,17,13
Productos ecoamigables,8,15,0,20,1,2,9,4,6,14,...,0,10,14,9,1,17,2,4,13,14
Ropa de adultos,4,20,1,20,1,0,11,3,3,10,...,2,7,17,15,0,15,4,2,14,6
Ropa infantil,12,22,2,15,0,2,11,3,11,11,...,1,4,14,18,3,9,3,3,20,10
Salud,5,16,1,11,0,0,6,4,10,3,...,1,2,14,14,1,18,5,4,19,13
Tarjetas regalo,9,20,1,21,1,0,9,5,13,4,...,5,5,13,11,2,15,2,2,13,11
Tecnología,8,20,2,20,1,1,6,4,3,8,...,0,4,13,10,3,15,4,6,20,10

**Análisis**: Es posible en la tabla ver la cantidad de compras que tiene las diferentes categorías, la que más tiene es *Tecnología* con 532 ventas en total.

## Tendencia central 

La tendencia central significa medir el centro o distribución de ubicación de valores de un conjuto de datos. Da una idea del valor promedio de las variables en el conjunto de datos y también una indicación de cuán ampliamente se distribuyen los valore en el conjunto de datos.

1. Media
2. Mediana
3. Moda

**Hipótesis**: Los precios en el comercio son mayores a 500, ya que el estudio arrojó que los clientes más recurrentes compran mayormente productos más ecnonómicos (debajo de 500), por tanto, es necesario validar si en promedio la compañía tiene precios más competitivos.

In [23]:
## Media o Promedio 
# Promedio de precios
round(data['precio'].mean(),2)

119.79

In [24]:
## Mediana
# Mediana de precio, valor central de la distribución de los datos.
round(data['precio'].median(),2)

83.12

In [25]:
## Moda
# Valor más común de los precios
data['precio'].mode()

0     3.92
1    11.39
2    11.79
3    15.80
4    16.42
5    25.45
6    34.43
7    36.96
8    56.79
Name: precio, dtype: float64

**Análisis**: Es posible analizar que el promedio es inferior a 500 ubicándose en 120, la mediana que es el dato central se ubica en 83.12 y existen varios valores comunes y todos debajo de 60 lo que nos muestra que la mayor cantidad de precios son bajos y que permiten ser más atractivos para el consumidor final que compra productos mayormente debajo de 500.

## Medidas de localización 

Los *cuantiles* y *percentiles* son puntos de corte que dividen el rango de una distribución de probabilidad en intervalos continuos son probabilidades iguales o que dividen a las observaciones en una muestra de la misma forma.

Así se puede representar un porcentaje de datos a través de los cuantiles para indetificar cómo están dividos los datos. 

**Hipótesis**: la mitat (50%) de los productos pesa más de 500 gramos, ya que la empresa de mensajería quiere realizar un descuento si los productos pesan menos de 500 gramos, así la compañía podría bajar los precios de envío de la mitad de los producto que se venden.

In [27]:
## Cuantiles 
# Calcular el 20%, 50% y 70% del peso de los productos. 
data['peso_g_producto'].quantile([0.20,0.50,0.70])

0.2     470.0
0.5    1458.5
0.7    2535.1
Name: peso_g_producto, dtype: float64

**Análisis**: El percentil 50 tiene un valor de 1458.5 lo cual nos indica que la mitad de los productos tiene un peso de más alto que 500 gramos, por lo que se rechaza la hipótesis y nos indica que no se puede realizar el descuento sobre el vólumen del producto, sin embargo deja abierta la puerta para encontrar qué cantidad de producto pueden contar con el descuento.

## Medidas de dispersión 

Se utilizan las estadísticas de dispersión para dar un número único que describa qué tan compacto o disperso es un conjunto de observaciones. Estas se cumplementan de las medidas mencionadas anteriormente. 

Estas medidas entre _más grandes_, representan más dispersión y entre más pequeñas más concentradas están las observaciones (es importante tener en cuenta la escala de la variable para analizar la dispersión).

1. Desviación estándar
2. Rango intercuartílico
3. Rango 
4.  Coeficiente de variación

**Hipótesis**: La variación de las longitudes de los datos es mayor a 20cm, ya que las empresas de mensajería que tienen cubículos de transporte de mensajería individual de producto de longitud de 20 cm son más económicas, y así se podría cambiar estas empresas y ahorrar costos de envío .

In [29]:
## Desviación estándar 
# Encontrar la desviación estándar de la longitud de los productos de la muestra
# Represental qué tan lejos de la media se encuentran las observaciones 
round(data['longitud_cm_producto'].std(),2)

15.29

In [30]:
## Rango intercuartílico 
# Encontra el rango intercuartílico de la longitud de los productos
# es la diferencia entre el tercer y primer cuartil. 
round(data['longitud_cm_producto'].quantile(0.75)-data['longitud_cm_producto'].quantile(0.25),2)

22.0

In [31]:
# Rango 
# Encontrar el rango de la longitud de los productos de la muestra 
# Representa la diferencia que existe entre el producto más y el más pequeño
data['longitud_cm_producto'].max()-data['longitud_cm_producto'].min()

91

In [33]:
## Coeficiente de variación 
# Encontrar el coeficiente de variación de la longitud de los productos. 
# Es la división de la desviación estándar sobre la media
round(data['longitud_cm_producto'].std()/data['longitud_cm_producto'].mean(),3)

0.509

**Análisis**: a pesar de que la desviación estándar y el rango intercuartílico son menores a 25, se puede alcanzar con el rango que la variación entre el máximo y el mínimo es de 91 cm, por tanto se podría migrar alredador del 50% de los productos de mensajería con el cubículo de 20 cm y darle al cliente un descuento en el envío.

### Bonus

En la librería de pandas es posible encontrar una función que agrega varias estadísticas que permiten analizar rápidamente la distribución de los datos numéricos de un data frame.

In [34]:
data.describe()

,precio,valor_flete,codigo_postal_vendedor,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
count,10134.000000,10134.000000,10134.000000,10134.000000,10134.000000,10134.000000,10134.000000,10134.000000,10134.000000,10134.000000
mean,119.792347,20.053246,49991.684626,20.074798,19.845372,20.110026,2106.109236,30.071936,17.915433,22.905861
std,119.340785,20.106163,22463.895340,11.721956,11.854161,11.802456,2093.734472,15.292866,11.360360,11.151559
min,0.010000,0.000000,5001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.155000,5.760000,50001.000000,10.000000,10.000000,10.000000,607.000000,19.000000,9.000000,15.000000
50%,83.120000,13.980000,52323.000000,20.000000,20.000000,20.000000,1458.500000,30.000000,17.000000,23.000000
75%,165.515000,27.455000,54003.000000,30.000000,30.000000,30.000000,2941.000000,41.000000,26.000000,30.000000
max,1262.940000,183.150000,99001.000000,40.000000,40.000000,40.000000,20661.000000,91.000000,64.000000,72.000000